{{#is "home"}}
{{> cover-main}}
{{/is}}
{{#is "tag"}}
{{^is "paged"}}
{{> cover-tag}}
{{/is}}
{{/is}}
{{#is "author"}}
{{^is "paged"}}
{{> cover-author}}
{{/is}}
{{/is}}
<!-- start header -->
<header class="main-header">
	<nav class="navbar">
		<div class="container">
			<div class="navbar-content-wrap">
			<div class="navbar-header">
				<button class="navbar-toggle collapsed btn btn-default btn-menu-toggle" data-toggle="collapse" data-target="#main-menu" aria-expanded="false">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				</button>
				<!-- <div class="search-toggle-wrap pull-right hidden-sm hidden-md hidden-lg">
					<a href="" class="search-toggle"><i class="fa fa-search"></i></a>
				</div> -->
				<!-- start logo -->
				{{#if @blog.logo}}
				<a class="navbar-brand image-logo" href="{{@blog.url}}"><img src="{{@blog.logo}}" alt="{{@blog.title}}"></a>
				{{else}}
				<a class="navbar-brand" href="{{@blog.url}}">{{@blog.title}}</a>
				{{/if}}
				<!-- end logo -->
			</div>
			<!-- <div class="search-toggle-wrap pull-right hidden-xs">
				<a href="" class="search-toggle"><i class="fa fa-search"></i></a>
			</div> -->
			{{navigation}}
	        </div>
		</div>
	</nav>
</header>
<!-- end header -->